.footer-item-wrapper{
  color:#222 !important;
  a{
    color: #222 !important;
  }
  p{
    font-size:14px;
  }
  .gobierno{
    padding-bottom:10px;
    h1{
      font-size:24px;
      margin-top:10px;
    }
  }
  .footer-items{
    padding-bottom:5px;
    .footer-item{
      padding:0px;
      padding-bottom:15px;
      p{
        margin-bottom:5px;
      }
      a{
        font-weight:700;
      }
    }
  }
}