//---------------------Font Families---------------------
@font-face {
    font-family: LatoBold;
    src: url(../fonts/lato/lato-bolds.ttf);
}
@font-face {
    font-family: LatoLight;
    src: url(../fonts/lato/lato-light.ttf);
}
@font-face {
    font-family: LatoRegular;
    src: url(../fonts/lato/lato-regular.ttf);
}
@font-face {
    font-family: SourceSansProBold;
    src: url(../fonts/sourcesanspro/sourcesanspro-bold-webfont.ttf);
}
@font-face {
    font-family: SourceSansProLight;
    src: url(../fonts/sourcesanspro/sourcesanspro-light-webfont.ttf);
}
@font-face {
    font-family: SourceSansProRegular;
    src: url(../fonts/sourcesanspro/sourcesanspro-regular-webfont.ttf);
}
@font-face{
  font-family:"Roboto";
  src: url(../fonts/roboto-condensed/RobotoCondensed-Regular.ttf);
}