.path-debates{
  .view-content{
    .views-row{
      background: #fff;
      border: 1px solid;
      border-color: #e5e6e9 #dfe0e4 #d0d1d5;
      border-radius: 0;
      box-shadow: 0 1px 3px 0 #dee0e3;
      min-height: 12rem;
      padding: 0.75rem 0.75rem 0;
      margin-bottom:15px;
      .group-left{
        
      }
      .group-right{
        .field--type-voting-api-field{
          .useful-rating{
            a{
              
            }
            a:first-child{
              
            }
            a:last-child{
              
            }
          }
        }
      }
    }
  }
}